.square {
  position: relative;
}
img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
.square-state {
  position: absolute;
  text-align: center;
  line-height: 100px;
  width: 100px;
  height: 100px;
  white-space: pre-wrap;
}