.mechanics {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    font-size: large;
}
.redirects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 240px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 1000px) {
    .redirects {
        width: 100px;
    }
    .mechanics {
        font-size: small;
    }
  }